<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	
	<property name="LOG_FILE" value="logs/all.log}" />
	
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />

	<!-- 输出sql语句 -->
	<logger name="org.galigeigei.dao" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
	
</configuration>  